.showFiles > .ant-upload {
  display: none !important;
}

.bg-primary {
  background-color: #4190f7;
}

.bg-success {
  background-color: #70c040;
}

.bg-warning {
  background-color: #efaf41;
}

.bg-danger {
  background-color: #e23c39;
}

.btn-success {
  color: #70c040;
  border-color: #70c040;
  background: #fff;
}
